.app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 450px;
}

h1 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}   

.ui.button {
    margin-top: 5px;
}

@media only screen and (max-width: 490px) {
    .buttons {
        flex-direction: column;
    }
}

